exportPattern("^[[:alpha:]]+")
S3method(plot, CEriskav)
S3method(plot, bcea)
S3method(summary, bcea)
S3method(contour, bcea)
S3method(plot, evppi)
S3method(summary, mixedAn)
S3method(plot, mixedAn)
S3method(mixedAn, default)
S3method(CEriskav, default)
S3method(bcea, default)
S3method(evppi, default)
importFrom(grDevices, colors, colours, dev.new, dev.off,devAskNewPage, pdf.options, ps.options)
importFrom(graphics, abline, axis, box, contour, legend, lines, par, plot, points, polygon, rect, text, barplot)
importFrom(stats, as.formula, dist, dnorm, optim, prcomp, qnorm, qqline, qqnorm, quantile, sd, update, var)
importFrom(utils, select.list)
