####exportPattern("^[[:alpha:]]+")
S3method(plot, CEriskav)
S3method(plot, bcea)
S3method(summary, bcea)
S3method(contour, bcea)
S3method(plot, evppi)
S3method(summary, mixedAn)
S3method(plot, mixedAn)
S3method(mixedAn, default)
S3method(CEriskav, default)
S3method(bcea, default)
S3method(evppi, default)
export(BCEAweb)
export(CEriskav)
export(CreateInputs)
export(bcea)
export(ceac.plot)
export(ceaf.plot)
export(ceef.plot)
export(ceplane.plot)
export(contour.bcea)
export(contour2)
export(diag.evppi)
export(eib.plot)
export(evi.plot)
export(evppi)
export(ib.plot)
export(info.rank)
export(mce.plot)
export(mixedAn)
export(multi.ce)
export(plot.CEriskav)
export(plot.bcea)
export(plot.evppi)
export(plot.mixedAn)
export(sim.table)
export(struct.psa)
export(summary.bcea)
export(summary.mixedAn)
export(make.report)
importFrom(grDevices, colors, colours, dev.new, dev.off,devAskNewPage, pdf.options, ps.options)
importFrom(graphics, abline, axis, box, contour, legend, lines, par, plot, points, polygon, rect, text, barplot, hist)
importFrom(stats, acf, as.formula, dist, dnorm, optim, prcomp, qnorm, qqline, qqnorm, quantile, sd, update, var)
importFrom(utils, select.list, read.csv, write.csv)
importFrom(rlang, .data)